version: "3.9"

services:
  server:
    build:
      context: ./server
    env_file:
      - ./server/.env
    expose:
      - "4000"
    ports:
      # W produkcji możesz to usunąć i zostawić tylko expose (proxy po sieci wewnętrznej)
      - "4000:4000"
    networks:
      - web

  web:
    build:
      context: .
    depends_on:
      - server
    ports:
      - "80:80"
    networks:
      - web

networks:
  web:
    driver: bridge
